// @import url(layout/normalize.scss);
// @import url(layout/layout.scss);
// @import url(blocks/header.scss);
// @import url(blocks/logo.scss);
// @import url(blocks/menu.scss);
// @import url(blocks/contacts.scss);
// @import url(blocks/hero.scss);
// @import url(blocks/button.scss);
// @import url(blocks/fixed-menu.scss);
// @import url(blocks/why.scss);
// @import url(blocks/review.scss);
// @import url(blocks/order.scss);
// @import url(blocks/form.scss);
// @import url(blocks/footer.scss);
// @import url(blocks/social.scss);

*,
::before,
::after {
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

// h1 {
//   font-size: 72px;
// }

// h2 {
//   font-size: 36px;
// }

// h3 {
//   font-size: 24px;
// }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

$black: #292929;
$tablets: 768px;
$phones: 480px;
$baseFontSize: 18px;

@mixin tablets { 
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin phones { 
  @media screen and (max-width: $phones) {
    @content;
  }
}

html, body {
  height: 100%;
}

html {
  font-size: 18px;

  @include tablets {
    font-size: 17px;
  }

  @include phones {
    font-size: 16px;
  }
}

body {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  width: 95%;
  height: 100%;
} 

.header {
  margin-top: 1.6667rem;
  display: flex;
  justify-content: space-between;
}

.header__phone {
  @include tablets {
    display: none;
  }
}

.logo {
  margin-right: 2.1667rem;

  @include tablets {
    margin-left: 1rem;
  }
}

.menu {
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 1.3333rem;
  line-height: 2.1667;
  font-size: 1rem;
  font-family: 'Alegreya Sans';

    &:last-child {
      margin-right: 2.5rem;
    }
}


.contacts {
  font-size: 1rem;
  line-height: 2.0556rem;
}

.contacts__phone::before {
  content: "";
  display: inline-block;
  width: 0.7778rem;
  height: 0.7778rem;
  background-image: url(../imgs/phone.svg);
  margin-right: 0.3333rem;
}

.hamburger {

  @include tablets {
  width: 1.5294rem;
  height: 1.1765rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1.2941rem;}

}

.hamburger__plank {

  @include tablets {
  display: block;
  background: #292929;
  height: 0.2353rem;
  border-radius: 10px;}

}

.hero {
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero_info {
  width: 22.2222rem;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  @include tablets {
    text-align: center;
    margin-bottom: 4.2353rem;
    width: 100%;
    flex-direction: column;
  }
}

.hero__title {
  font-size: 2.6667rem;
  line-height: 2.8889rem;
  text-transform: uppercase;
  margin-bottom: 1.2222rem;

  @include tablets {
    padding: 0 3.5294rem;
    margin-bottom: 0.7059rem;
    font-size: 2.8235rem;
  }

  @include phones {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

.hero__text {
  font-size: 1.1667rem;
  line-height: 1.3889rem;
  margin-bottom: 2rem;
  font-family: 'Alegreya Sans';

  @include tablets {
    padding: 0 11.1765rem;
    margin-bottom: 1.4706rem;
  }

  @include phones {
    padding: 0 3.4375rem;
  }
}

$red: #E01F3D;

.button {
  background: $red;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8889rem;
  border-radius: 5.5556rem;
  text-transform: uppercase;
  padding: 1.1667rem 2.2778rem;
  line-height: 0.6667rem;
  border: none;

  &--order {
    background: #CA1B36;

    @include tablets {
      margin-right: 0.5882rem;
    }
  }

  &--transparent {
    background: none;
    text-transform: none;
    font-weight: 400;
    padding: 0;

    @include tablets {
      color: $red;
    }
  }
}

.hero__pic {

  @include tablets {
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
  }
  > img {
    @include tablets {
      width: 19rem;
      height: 19rem;
      object-fit: cover;
      display: flex;
      margin-bottom: 1.7647rem;
    }
  }

  @include phones {
    margin-top: 1.0625rem;
    margin-bottom: 3.0625rem;
  }
}

.hero__features-section {
  margin-top: 3.8889rem;

  @include tablets {
    display: none;
  }
}

.hero__features {
  display: flex;
  justify-content: space-between;
  width: 29.7222rem;
  margin-bottom: 3.6667rem;
}

.hero__feature {
  display: flex;
  justify-content: space-between;
  margin-right: 0,1667rem;
}

.hero__feature-text--listening::before {
  content: "";
  display: inline-block;
  width: 2.7778rem;
  height: 2.2222rem;
  background-image: url(../imgs/listening.svg);
  margin-right: 0.6111rem;
}

.hero__feature-text--charging::before {
  content: "";
  display: inline-block;
  width: 2.7778rem;
  height: 2.2222rem;
  background-image: url(../imgs/charging.svg);
  margin-right: 0.6111rem;
}

.hero__feature-text--plug::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 2.0556rem;
  background-image: url(../imgs/plug.svg);
  margin-right: 0.6111rem;
}

.hero__feature-text {
  padding-left: 0.6667rem;
  line-height: 1rem;
  display: inline-flex;
}

.fixed-menu {
  position: fixed;
  top: 16.6111rem;
  right: 3.2222rem;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  display: block;
  width: 0.3889rem;
  height: 0.3889rem;
  background: $black;
  opacity: 0.6;
  border-radius: 50%;
  margin-bottom: 0.7778rem;

    &:last-child {
      margin-bottom: 0;
    }
    
    &--active::before {
      width: 0.7778rem;
      height: 0.7778rem;
      display: block;
      border-radius: 50%;
      border: 0.0556rem solid $red;
      opacity: 1;
      content: "";
      transform: translate(-25%, -25%);
    }

    &--active {
      background: $red;
      opacity: 1;
    }

}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 2.6667rem;
  margin-bottom: 3.3333rem;
  text-align: center;
  text-transform: uppercase;


  @include tablets {
    font-size: 2.8235rem;
  }
  @include phones {
    font-size: 2rem;
  }

  &--white {
    color: white;
    margin-top: 1.7778rem;
    margin-bottom: 2.9444rem;

    @include tablets {
      margin-top: 2rem;
      margin-bottom: 1.5294rem;
    }

    @include phones {
      margin-top: 3.75rem;
    }
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.5556rem;
  margin-top: 5.1667rem;

  @include tablets {
    margin-top: 6rem;
    margin-bottom: 0.2941rem;
  }

  @include phones {
    margin-top: 2.3125rem;
  }
}

.headline__info {
  font-size: 0.8889rem;
  line-height: 1.0556rem;
  margin-bottom: 3.4444rem;
  color: #666666;
  padding: 0 26%;
  @include tablets {
  padding: 0 13%;
  }
  @include phones {
    font-size: 1rem;
  }
}

.why {
  background: white;
  position: relative;

  &::before {
    content: "";
    display: block;
    background: #C4C4C4;
    width: 2.5556rem;
    height: 0.5556rem;
    transform: rotate(-45deg);
    position: absolute;
    top: -0.4444rem;
    right: 7.5556rem;
  }
}

.why_features {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6.5rem;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 3.7222rem;
    height: 1.1667rem;
    background-image: url(../imgs/circles.svg);
    top: 3.3333rem;
    left: 27%;
    position: absolute;

    @include tablets {
      display: none;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 3.7222rem;
    height: 1.1667rem;
    background-image: url(../imgs/circles.svg);
    top: 3.3333rem;
    right: 27%;
    position: absolute;

    @include tablets {
      display: none;
    }
  }

  
}

.why_features {
  display: flex;
  
  @include phones {
    flex-direction: column;
    margin-bottom: 3.375rem;
  }
}

.why__feature {
  margin: 0 3%;
  text-align: center;

  @include tablets {
    margin: 0;
  }

  @include phones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.875rem;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.why__feature-img {
  width: 7.1111rem;
  height: 7.1111rem;
  background: #F2F5F4;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;

  @include phones {
    width: 8rem;
    height: 8rem;
  }
}

.why__feature-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.why__feature-title {
  font-size: 1.3333rem;
  margin-bottom: 0.3889rem;
  margin-top: 0.5556rem;

  @include tablets {
    margin-top: 1.0588rem;
    margin-bottom: 0.9412rem;
  }

  @include phones {
    margin-top: 0.5625rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
}

.why__feature-desc {
  width: 13.7222rem;
  color: #666666;
  line-height: 1.0556rem;
  text-align: center;

  @include phones {
    text-align: left;
    width: 20rem;
    line-height: 1.1875rem;
  }
}

.products__list {
  display: flex;
  padding: 3.6667rem 3.3333rem;

  @include phones {
    margin-top: 2.5rem
  }
}

.products__item {
  display: flex;
  column-gap: 3.2778rem;
  align-items: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.products__img {
  
  padding-top: 1.6667rem;

  @include tablets {
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    
  > img {
    width: 306px;
    height: 306px;
  }
}

  @include phones {
    padding: 0;
  }
}

.products__info {
  display: flex;
  flex-direction: column;
  row-gap: 1.3889rem;
  position: relative;

  @include tablets {
  align-items: center;
  row-gap: 0,8824rem;
  }
}

.products__drop-item {
  width: 5.0556rem;
  height: 5.0556rem;
  background: #9A9A9A;
  border-radius: 4px;
  position: absolute;
  top: -9%;

  @include tablets {
    display: none;
  }

  &::after {
    display: block;
    content: "";
    background-image: url(../imgs/settings.svg);
    width: 2.3333rem;
    height: 2.3333rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &:hover .products__drop-menu {
    opacity: 1;
  }
}

.products__drop-menu {
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  position: absolute;
  left: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 15.1667rem;
  width: 15.1667rem;
}

.products__drop-menu-item {
  font-size: 0.8889rem;
  line-height: 1.3333rem;
  display: flex;
  height: 2.2222rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 1.1111rem;
  padding: 0 0.5556rem;
  margin-top: 1.5556rem;

  &:last-child {
    margin-bottom: 1.8889rem;
  }
}

.products__drop-menu-item-name {
  display: inline-flex;
  margin-left: 1.9444rem;

  &--bluetooth::before {
    content: "";
    width: 0.8333rem;
    height: 1.3889rem;
    background-image: url(../imgs/bluetooth.svg);
  }

  &--range::before {
    content: "";
    width: 1.3333rem;
    height: 1.3333rem;
    background-image: url(../imgs/range.svg);
  }

  &--charging::before {
    content: "";
    width: 1.2222rem;
    height: 1.3333rem;
    background-image: url(../imgs/charge.svg);
  }

  &--weight::before {
    content: "";
    width: 1.6111rem;
    height: 1.6111rem;
    background-image: url(../imgs/weight.svg);
  }

  &--garantee::before {
    content: "";
    width: 1.3333rem;
    height: 1.3333rem;
    background-image: url(../imgs/garantee.svg);
  }
}

.products__drop-menu-item-info {
  margin-right: 1.3889rem;
}

.products__title {
  font-size: 2rem;
  line-height: 2.3333rem;
  text-transform: uppercase;
  margin-top: 4.3333rem;

  @include tablets {
    font-size: 1.6471rem;
    line-height: 1.8824rem;
    margin-top: 2.6471rem;
    text-align: center;
  }
}

.products__desc {
  font-size: 0.8889rem;
  line-height: 1.0556rem;
  color:#666666;
  padding-right: 4.1667rem;

  @include tablets {
    text-align: center;
  }

  @include phones {
    padding: 0;
  }
}

.products__features {
  font-size: 0.8889rem;
  line-height: 1.0556rem;
  display: flex;
  align-items: flex-start;
  column-gap: 5rem;
}

.products__feature {
  flex-direction: column;
  display: flex;
}

.products__feature-number {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1667rem;
}

.products__footer {
  display: flex;
  align-items: center;
  column-gap: 0.7222rem;
} 

.products__price {
  font-size: 2rem;
  line-height: 3.3333rem;
  text-transform: uppercase;

  @include tablets {
    font-size: 2.3529rem;
    line-height: 3.5294rem;
  }
}

.products__slider-arrows {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translateX(-50%);

  &--prev {
    position: absolute;
    display: inline-block;
    width: 0.8333rem;
    height: 1.6111rem;
    left: -29.6667rem;
    background-image: url(../imgs/left.svg);
  }

  &--next {
    position: absolute;
    display: inline-block;
    width: 0.8333rem;
    height: 1.6111rem;
    right: -26.6667rem;
    background-image: url(../imgs/right.svg);
  }

  @include tablets {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    
      &--prev {
      position: absolute;
      display: inline-block;
      width: 0.8824rem;
      height: 1.7059rem;
      left: -13.6471rem;
      background-image: url(../imgs/left.svg);
      }

      &--next {
      position: absolute;
      display: inline-block;
      width: 0.8824rem;
      height: 1.7059rem;
      right: -13.1176rem;
      background-image: url(../imgs/right.svg);
    }
  } 
}

.review {
  background: white;
}

.review__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0.8333rem;
}

.review__title {
  font-size: 2.6667rem;
  margin-bottom: 1.3889rem;
  z-index: 1;
  margin-top: 3.0556rem;

  @include tablets {
    margin-bottom: 1.5294rem;
    margin-top: 2.3529rem;
  }

  @include phones {
    font-size: 2rem;
    margin-top: 2.3125rem;
  }
}

.review__window {
  width: 52.2222rem;
  height: 19.3333rem;
  background: #F8FAF9;
  display: inline-flex;
  margin-bottom: 0.8333rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 4.6111rem;
    height: 4.6111rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -5%;
    background-color: white;
    transform: translate(-50%, -50%);

    @include tablets {
      top: -2%;
    }
    @include phones {
      display: none;
    }
  }
  
  @include tablets {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.2941rem;
  }
}


.review__desc {
  @include tablets {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 1.3529rem;
    align-content: space-between;
  }
}

.review__avatar {
  @include tablets {
  margin-top: 3.2941rem;
  margin-bottom: 1.8824rem;}
}

.review__pic {
  padding: 2.3333rem;
  background: #F8FAF9;
  @include tablets {
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 7.6471rem;
    height: 7.6471rem;
    object-fit: cover;

  }
}

.review__name {
  padding-top: 4.1111rem;
  font-size: 1.3333rem;
  line-height: 1.5556rem;
  margin-bottom: 1.5rem;
  @include tablets {
    padding: 0;
    margin: 0;
  }
}

.review__text {
  line-height: 1.0556rem;
  color: #666;
  padding-right: 5.9444rem;
  margin-bottom: 2.1111rem;
  @include tablets {
    text-align: center;
    margin-top: 1.0588rem;
    padding: 0;
  }
}

.review__user {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1667rem;
  @include tablets {
    font-weight: 400;
    margin-bottom: 2.7059rem;
  }
}

.review__switch {
  margin-bottom: 3.5rem;
  @include tablets {
    margin-top: 1.1765rem;
    margin-bottom: 11.3529rem;
  }
  @include phones {
    margin-bottom: 5.375rem;
  }
}

.review__switch-icon {
  margin-right: 0.3333rem;

  &:last-child {
    margin-right: 0;
  }
}

.review__switch-icon--active {
  display: inline-flex;
  width: 4.1111rem;
  height: 4.1111rem;
  border-radius: 50%;
  outline: 0.2222rem solid #E01F3D;
}

.review__swith-img {
  width: 4.1111rem;
  height: 4.1111rem;
  border-radius: 50%;
}

.order__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    // position: relative;
    // width: 1.6667rem;
    // box-sizing: content-box;
    // border-width: 1.5556rem 0.5rem 0;
    // border-style: solid;
    // border-color: red transparent;
    // transform: rotate(-15deg);
    // right: -38.9%;
    // top: 0.9722rem;
    @include tablets {
      right: -38.9%;
      top: 0.0278rem;;
    }
  }

  &::after {
    content: "";
    // position: absolute;
    //   height: 0;
    //   width: 0;
    //   top: -26%;
    //   right: 1.7%;
    //   border-width: 0 1.3889rem 0.9444rem;
    //   border-style: solid;
    //   border-color: transparent transparent red;
    //   transform: rotate(-15deg);
      @include tablets {
        top: -1.4%;
        right: 9%;
      }
  }
}

.order {
  background: #181818;

}


.form {
  display: flex;
  @include tablets {
    flex-direction: column;
    padding: 0px 8.5294rem;
  }
  @include phones {
    padding: 0px 0.6875rem;
  }
}

.form__col {
  flex: 1;
  margin-right: 0.9444rem;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-bottom: 0.5882rem;

    &:last-child {
      margin-right: 0.5882rem;
    }
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.7222rem;
}

.form__block {
  flex: 1;
  margin-right: 0.9444rem;
  &:last-child {
    margin-right: 0;
  }
}

.form__title {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8889rem;
  line-height: 1.0556rem;
  color: #fff;
  margin-bottom: 0.2222rem;
  @include tablets {
    font-size: 0.9412rem;
  }

  &--radio {
    margin-left: 0.5556rem;
  }
}

.form__input {
  width: 100%;
  height: 3.2222rem;
  border-radius: 0.2222rem;
  padding: 1rem 0.6667rem 1rem 0.6667rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7778rem;
  line-height: 1.1111rem;
  border: none;
  @include tablets {
    height: 2.1176rem;
  }
    
  &--textarea {
    height: 8.4444rem;
    resize: none;
    @include tablets {
      height: 4.8235rem;
    }
  }

  &:focus {
    border: 0.1667rem solid #E01F3D;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  @include tablets {
    margin-bottom: 1.1765rem;
  }
  @include phones {
    justify-content: center;
  }
}


.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;
  margin-right: 1rem;
  margin-top: 1.1111rem;
  @include tablets {
    margin-top: 0.3529rem;
  }

  &--checkbox {
    .radio__visible {
      border-radius: 0.2222rem;
    }

      &::before {
      background: url(../imgs/check.svg);
      content: "";
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
      content: "";
    }
  }
}

.radio__visible {
  width: 1.3889rem;
  height: 1.3889rem;
  position: relative;
  border-radius: 50%;
  background: white;

  &::before {
    content: "";
    width: 0.8333rem;
    height: 0.8333rem;
    background: $red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.check-pic {
  &::before {
    background: url(../imgs/check.svg) center center no-repeat;
    content: ""; }
}

.form__button {
  margin-top: 2.3889rem;
  margin-right: 0.8333rem;
  line-height: 1rem;
  @include tablets {
    padding-left: 5.8824rem;
    margin-bottom: 10.5882rem;
  }
  @include phones {
    margin-bottom: 5.0625rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.map__pic {
  width: 100%;
  @include phones {
    width: 30rem;
    height: 30.125rem;
    object-fit: cover;
  }
}

.footer {
  background: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  @include phones {
    text-align: center;
  }
}

.footer__col {
  @include tablets {
    margin-left: 1.7647rem;
  }
}

.footer__col {
  @include tablets {
    margin-right: 2.1176rem;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  @include phones {
    flex-direction: column;
  }
}

.footer__contacts {
  line-height: 1.3333rem;
  margin-bottom: 1rem;
  @include tablets {
    font-size: 1.2353rem;
  }
  @include phones {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.footer__phone {
  @include tablets {
  color: $red;
  font-size: 1.0588rem;}
  @include phones {
    margin-top: 0.75rem;
    font-size: 1rem;
    color: #292929;
  }
}

.contacts__info {
  padding-top: 1.1111rem;
}

.social__links {
  margin-top: 1.4444rem;
  @include phones {
    margin-top: 0;
    margin-bottom: 1.875rem;
  }
}

.social__link {
  display: block;
  width: 1.6667rem;
  height: 1.6667rem;
  margin-right: 0.5556rem;
  @include tablets {
    width: 1.7647rem;
    height: 1.7647rem;
  }
  @include phones {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.social__icon {
  width: 100%;
  height: 100%;
  fill: #B3B3B3;

  &:hover {
    fill: #000000;
  }
}

.social__item {
  display: inline-block;
  vertical-align: middle;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.fullscreen-menu__window {
  background: #313131;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fullscreen-menu__close-icon {
  position: absolute;
  display: block;
  top: 42px;
  right: 42px;
}

.menu--vertical {
  padding-top: 135px;
  display: flex;
  justify-content: space-around;
}
  
.menu__list--vertical {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.menu__item--vertical {
  font-size: 36px;
  line-height: 72px;
  margin: 0;

  &:last-child {
    margin: 0;
  }
}