*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.header {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  margin-right: 39px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 24px;
  line-height: 39px;
  font-size: 18px;
  font-family: "Alegreya Sans";
}
.menu__item:last-child {
  margin-right: 45px;
}

.contacts {
  font-size: 18px;
  line-height: 37px;
}

.contacts__phone::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../imgs/phone.png);
  margin-right: 6px;
}

.hero {
  position: relative;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hero_info {
  width: 400px;
}

.hero__title {
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.hero__text {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 36px;
  font-family: "Alegreya Sans";
}

.button {
  background: #E01F3D;
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 21px 41px;
  line-height: 12px;
  border: none;
}
.button--order {
  background: #CA1B36;
}
.button--transparent {
  background: none;
  text-transform: none;
  font-weight: 400;
  padding: 0;
}

.hero__pic {
  position: absolute;
  top: 20%;
  right: 5%;
}

.hero__features-section {
  margin-top: 70px;
}

.hero__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 535px;
  margin-bottom: 66px;
}

.hero__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 3px;
}

.hero__feature-text--listening::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 40px;
  background-image: url(../imgs/listening.png);
  margin-right: 11px;
}

.hero__feature-text--charging::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 40px;
  background-image: url(../imgs/charging.png);
  margin-right: 11px;
}

.hero__feature-text--plug::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 39px;
  background-image: url(../imgs/plug.png);
  margin-right: 11px;
}

.hero__feature-text {
  padding-left: 12px;
  line-height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.fixed-menu {
  position: fixed;
  top: 299px;
  right: 58px;
}

.fixed-menu__item {
  display: block;
  width: 7px;
  height: 7px;
  background: #292929;
  opacity: 0.6;
  border-radius: 50%;
  margin-bottom: 14px;
}
.fixed-menu__item:last-child {
  margin-bottom: 0px;
}
.fixed-menu__item--active::before {
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 50%;
  border: 1px solid #E01F3D;
  opacity: 1;
  content: "";
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
}
.fixed-menu__item--active {
  background: #E01F3D;
  opacity: 1;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 48px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}
.section__title--white {
  color: white;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 10px;
}

.headline__info {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 62px;
  color: #666666;
  padding: 0 26%;
}

.why {
  background: white;
  position: relative;
}
.why::before {
  content: "";
  display: block;
  background: #C4C4C4;
  width: 46px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: -8px;
  right: 136px;
}

.why_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 117px;
  text-align: center;
  position: relative;
}
.why_features::before {
  content: "";
  display: inline-block;
  width: 67px;
  height: 21px;
  background-image: url(../imgs/circles.png);
  top: 60px;
  left: 27%;
  position: absolute;
}
.why_features::after {
  content: "";
  display: inline-block;
  width: 67px;
  height: 21px;
  background-image: url(../imgs/circles.png);
  top: 60px;
  right: 27%;
  position: absolute;
}

.why_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__feature {
  margin: 0 3%;
  text-align: center;
}
.why__feature:first-child {
  margin-left: 0;
}
.why__feature:last-child {
  margin-right: 0;
}

.why__feature-img {
  width: 128px;
  height: 128px;
  background: #F2F5F4;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.why__feature-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.why__feature-title {
  font-size: 24px;
  margin-bottom: 7px;
  margin-top: 10px;
}

.why__feature-desc {
  width: 247px;
  color: #666666;
  line-height: 19px;
  text-align: center;
}

.review {
  background: white;
}

.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__title {
  font-size: 48px;
  margin-bottom: 32px;
  z-index: 1;
}

.review__window {
  width: 940px;
  height: 348px;
  background: #F8FAF9;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 15px;
  position: relative;
}
.review__window::before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -5%;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review__pic {
  padding: 42px;
  background: #F8FAF9;
}

.review__name {
  padding-top: 74px;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 27px;
}

.review__text {
  line-height: 19px;
  color: #666;
  padding-right: 107px;
  margin-bottom: 38px;
}

.review__user {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.review__switch {
  margin-bottom: 63px;
}

.review__switch-icon {
  margin-right: 6px;
}
.review__switch-icon:last-child {
  margin-right: 0px;
}

.review__switch-icon--active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  outline: 4px solid #E01F3D;
}

.review__swith-img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__content::before {
  content: "";
  position: relative;
  width: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-width: 28px 9px 0;
  border-style: solid;
  border-color: red transparent;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  right: -38.9%;
  top: -125.5px;
}
.order__content::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -26%;
  right: 9.3%;
  border-width: 0 25px 17px;
  border-style: solid;
  border-color: transparent transparent red;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.order {
  background: #181818;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 17px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 17px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 4px;
}
.form__title--radio {
  margin-left: 10px;
}

.form__input {
  width: 100%;
  height: 58px;
  border-radius: 4px;
  padding: 18px 12px 18px 12px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}
.form__input:focus {
  border: 3px solid #E01F3D;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0px;
  margin-right: 18px;
  margin-top: 20px;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox::before {
  background: url(../imgs/check.png);
  content: "";
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
  content: "";
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: white;
}
.radio__visible::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.check-pic::before {
  background: url(../imgs/check.png) center center no-repeat;
  content: "";
}

.form__button {
  margin-top: 43px;
  margin-right: 15px;
  line-height: 18px;
}
.form__button:last-child {
  margin-right: 0;
}

.footer {
  background: white;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contacts {
  line-height: 24px;
  margin-bottom: 18px;
}

.contacts__info {
  padding-top: 20px;
}

.social__links {
  margin-top: 26px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social__link--vk {
  background-image: url(../imgs/vk.png);
}

.social__link--fb {
  background-image: url(../imgs/fb.png);
}

.social__link--in {
  background-image: url(../imgs/in.png);
}

.social__link--tg {
  background-image: url(../imgs/tg.png);
}

.social__item {
  display: inline-block;
  vertical-align: middle;
}