.hero {
  position: relative;
}

.hero_info {
  width: 400px;
}

.hero__title {
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.hero__text {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 36px;
  font-family: 'Alegreya Sans';
}

.hero__pic {
  position: absolute;
  top: 87px;
  right: -6px;
}

.hero__features {
  display: flex;
  justify-content: space-between;
  width: 530px;
  margin-bottom: 66px;
}

.hero__feature {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

.hero__feature-icon {
  width: 40px;
  height: 40px;
}

.hero__feature-text {
  padding-left: 12px;
  line-height: 18px;
}