.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order__content::before {
  content: "";
  position: relative;
  width: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-width: 28px 9px 0;
  border-style: solid;
  border-color: red transparent;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  right: -38.9%;
  top: -3.5px;
}
.order__content::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -3%;
  right: 9.5%;
  border-width: 0 25px 17px;
  border-style: solid;
  border-color: transparent transparent red;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.order {
  background: #181818;
}

.order__title {
  font-size: 48px;
  line-height: 52px;
  color: white;
  margin-bottom: 58px;
  text-transform: uppercase;
  padding-top: 42px;
}